<!DOCTYPE html>
<html>
    <head>
        <title>Register Page</title>
        <meta name="viewport" context="width=device-width,intial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!--<style>
           
        </style>-->
    </head>
    <body style="background: linear-gradient(to bottom right,#33cc33,#99ffff)">
        
        <div class="bottom">
            <div class="container">
                <div class="row vh-100 justify-content-center align-items-center">
                <p style="font-size:20px;color:aliceblue"></p>
                <div class="col-8 col-md-6 col-lg-4 text-center"style="border:solid black;">
                    <h2 class="h2 my-4"><b style="color: black">Sign up here</b></h2>
                    <form method=POST action="{{ url_for('register') }}">
                        <input type="text" class="form-control p-3 rounded-0 rounded-top" name="user_id" id="e"  placeholder="username">
                        
                        <input type="password" class="form-control p-3 rounded-0 rounded-bottom" name="pass" id="p" placeholder="Set Password">
        
                        <input type="password" class="form-control p-3 rounded-0 rounded-top" id="q"  name="pass2" placeholder="Confirm Password">
                        <div class="form-check-inline my-3">
                            <input type="checkbox" class="form-check-input mr-2" id="c">
                            <label class="form-check-label" for="c" style="color:black">I accept <a href="#">terms &amp; conditions</a></label>
                        </div>
                        <button type="Register" style="margin-bottom:10px;" class="btn btn-primary w-100">Register</button>
                      </form>
                </div>
                </div>
            </div>

        </div>
    </body>
</html>